@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pink: #ff3299;
    --black: #191817;
    --white: #efefef;
    --back: #363636;
    --box-green: #46e8c1;
    --signal: #ff654d;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Jost', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--back);
}

header {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100vw;
    padding: 2em;
}

.nav-links, nav-links:visited {
    cursor: pointer;
    color: var(--box-green);
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 0.4em;
    padding-right: 0.4em;
    letter-spacing: 0.2em;
}

a:hover {
    background-color: var(--box-green);
    color: var(--black);
    padding-left: 0.4em;
    padding-right: 0.4em;
}

a:active {
    background-color: var(--box-green);
    color: var(--black);
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.main-cnt {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    max-height: 100vh;
    position: sticky;
    left: 0;
    opacity: 55%;
    animation: fadeBlock 610ms ease-out;
}

.layer-tangle {
    position: absolute;
    width: 90vw;
    height: 40vh;
    background-color: var(--white);
    transform: rotate(-6deg);
    right: -200px;
    opacity: 11%;
    animation: tangleBlock 700ms linear;
}

.square {
    position: absolute;
    top: 33vh;
    left: 23vw;
    width: 400px;
    height: 400px;
    border: 2em solid var(--white);
    opacity: 100%;
    animation: mainBlock 700ms linear;
}

.cover-album {
    max-width: 100%;
    opacity: 100%;
    animation: mainBlock 700ms linear;
}

.album-title {
    position: absolute;
    letter-spacing: 0.2em;
    top: 27vh;
    right: 25vw;
    color: var(--white);
    text-transform: uppercase;
    font-size: 2rem;
    background-color: var(--signal);
    padding: 0.5em;
    animation: sweepBlock 700ms linear;
}

.tracklist {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 39vh;
    right: 55vh;
    text-transform: uppercase;
    line-height: 1.9em;
    letter-spacing: 0.2em;
    font-size: 1.4rem;
    color: var(--white);
    animation: downBlock 700ms linear;
    cursor: pointer;
}

@keyframes mainBlock {
	0% {
        left: -30px;
		opacity: 0%;
        transform: rotate(45deg);
	}
	100% {
		opacity: 100%;
        transform: rotate(0deg);
	}
}

@keyframes tangleBlock {
    0% {
        width: 0%;
        transform: rotate(-45deg);
    }
    100% {
        
        transform: rotate(-6deg);
    }
}

@keyframes sweepBlock {
    0% {
        letter-spacing: 2em;
        opacity: -100%;
		top: -20vh;
		
	}
    /* 50% {
        letter-spacing: -2em;
    } */
    100% {
        opacity: 100%;
        top: 27vh;
    }
}

@keyframes downBlock {
    0% {
        transform: rotate (180deg);
        letter-spacing: -2em;
        opacity: -100%;
        top: 0vh;
    }
    100% {
        opacity: 100%;
        top: 39vh;
    }
}

@keyframes fadeBlock {
    0% {
        left: 230em;
        opacity: -10%
    }
    100% {
        left: 0;
        opacity: 55%;
    }
}